## Working with missing data using sklearn

we have performed the filling of the missing values using the pandas and then sklearn to split and train what if we could do all of these in sklearn itself?

In [1]:
import pandas as pd
import sklearn
import numpy as np
import matplotlib.pyplot  as plt
%matplotlib inline
print("Imported!")

Imported!

In [2]:
file = pd.read_csv("../datasets/Car_sales_missing.csv")

file["Price_in_thousands"] = file["Price_in_thousands"].fillna(file["Price_in_thousands"].mean())
file.head(20)

,Manufacturer,Sales_in_thousands,__year_resale_value,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,Length,Curb_weight,Fuel_capacity,Fuel_efficiency,Latest_Launch,Power_perf_factor
0,Acura,16.919,16.360,Passenger,21.500000,1.8,140.0,101.2,67.3,172.4,2.639,13.2,28.0,02-02-2012,58.280150
1,Acura,39.384,19.875,Passenger,28.400000,3.2,225.0,108.1,70.3,192.9,3.517,17.2,25.0,06-03-2011,91.370778
2,Acura,14.114,18.225,Passenger,27.472447,3.2,225.0,106.9,70.6,192.0,3.470,17.2,26.0,01-04-2012,NaN
3,Acura,8.588,29.725,Passenger,42.000000,3.5,210.0,114.6,71.4,196.6,3.850,18.0,22.0,03-10-2011,91.389779
4,Audi,20.397,22.255,Passenger,23.990000,1.8,NaN,102.6,68.2,178.0,2.998,16.4,27.0,10-08-2011,62.777639
5,Audi,18.780,23.555,Passenger,33.950000,2.8,200.0,108.7,76.1,192.0,3.561,18.5,22.0,08-09-2011,84.565105
6,Audi,1.380,39.000,Passenger,62.000000,4.2,310.0,113.0,74.0,198.2,3.902,23.7,21.0,2/27/2012,134.656858
7,BMW,19.747,NaN,Passenger,26.990000,2.5,170.0,107.3,68.4,176.0,3.179,16.6,26.0,6/28/2011,71.191207
8,BMW,9.231,28.675,Passenger,33.400000,2.8,193.0,107.3,68.5,176.0,3.197,16.6,24.0,1/29/2012,81.877069
9,BMW,17.527,36.125,Passenger,38.900000,2.8,193.0,111.4,70.9,188.0,3.472,18.5,25.0,04-04-2011,83.998724
10,Buick,91.561,12.475,Passenger,21.975000,3.1,175.0,109.0,72.7,194.6,NaN,17.5,25.0,11-02-2011,71.181451
11,Buick,39.350,13.740,Passenger,25.300000,3.8,240.0,109.0,72.7,196.2,3.543,17.5,23.0,09-03-2011,95.636703
12,Buick,27.851,20.190,Passenger,31.965000,3.8,205.0,113.8,74.7,206.8,3.778,18.5,24.0,3/23/2012,85.828408
13,Buick,83.257,13.360,Passenger,27.885000,3.8,205.0,112.2,73.5,200.0,3.591,17.5,25.0,7/23/2011,84.254526
14,Cadillac,63.729,22.525,Passenger,39.895000,4.6,NaN,115.3,74.5,207.2,3.978,18.5,22.0,2/23/2012,113.854598
15,Cadillac,15.943,27.100,Passenger,44.475000,4.6,275.0,112.2,75.0,201.0,NaN,18.5,22.0,4/29/2011,115.621358
16,Cadillac,6.536,25.725,Passenger,39.665000,4.6,275.0,108.0,75.5,200.6,3.843,19.0,22.0,11/27/2011,113.765874
17,Cadillac,11.185,NaN,Passenger,31.010000,3.0,200.0,107.4,70.3,194.8,3.770,18.0,22.0,9/28/2011,83.483094
18,Cadillac,14.785,NaN,Car,46.225000,5.7,255.0,117.5,77.0,201.2,5.572,30.0,15.0,NaN,109.509117
19,Chevrolet,145.519,9.250,Passenger,13.260000,2.2,115.0,104.1,67.9,180.9,2.676,14.3,27.0,8/17/2011,46.363347

In [3]:
x = file.drop("Price_in_thousands",axis =1)
y = file["Price_in_thousands"]
print(x.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 157 entries, 0 to 156
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Manufacturer         157 non-null    object
 1   Sales_in_thousands   155 non-null    float64
 2   __year_resale_value  117 non-null    float64
 3   Vehicle_type         156 non-null    object
 4   Engine_size          153 non-null    float64
 5   Horsepower           153 non-null    float64
 6   Wheelbase            153 non-null    float64
 7   Width                154 non-null    float64
 8   Length               154 non-null    float64
 9   Curb_weight          152 non-null    float64
 10  Fuel_capacity        155 non-null    float64
 11  Fuel_efficiency      154 non-null    float64
 12  Latest_Launch        152 non-null    object
 13  Power_perf_factor    144 non-null    float64
dtypes: float64(11), object(3)
memory usage: 17.3+ KB
None

## now we need to convert the missing values using sklearn

In [10]:
from sklearn.impute import SimpleImputer
# filling missing values is also alled as imputing

from sklearn.compose import ColumnTransformer


# fill the catergorical into missing and numerical values with mean
# for every value keep your strategy constant and keep filling it using the missing word.
category_imputor = SimpleImputer(strategy="constant", fill_value="missing")


# filling numerical value
num_imputer = SimpleImputer(strategy="mean")

# define columns 
category_features = ["Manufacturer", "Vehicle_type","Latest_Launch"]
numerical_features = ["Sales_in_thousands","__year_resale_value","Engine_size","Horsepower","Wheelbase","Width","Length","Curb_weight","Fuel_capacity","Fuel_efficiency","Power_perf_factor"]
imputer = ColumnTransformer([("category_imputor",category_imputor,category_features),
                             ("num_imputer",num_imputer,numerical_features)
                            ])


# Transform the data:
filled_x = imputer.fit_transform(x)
filled_x

array([['Acura', 'Passenger', '02-02-2012', ..., 13.2, 28.0, 58.28014952],
       ['Acura', 'Passenger', '06-03-2011', ..., 17.2, 25.0, 91.37077766],
       ['Acura', 'Passenger', '01-04-2012', ..., 17.2, 26.0,
        77.10568763923612],
       ...,
       ['Volvo', 'Passenger', '6/25/2011', ..., 17.9, 25.0, 71.1559776],
       ['Volvo', 'Passenger', '4/26/2011', ..., 18.5, 23.0,
        77.10568763923612],
       ['Volvo', 'Passenger', '11/14/2011', ..., 21.1, 24.0, 85.73565451]],
      dtype=object)

In [19]:
print(filled_x)

[['Acura' 'Passenger' '02-02-2012' ... 13.2 28.0 58.28014952]
 ['Acura' 'Passenger' '06-03-2011' ... 17.2 25.0 91.37077766]
 ['Acura' 'Passenger' '01-04-2012' ... 17.2 26.0 77.10568763923612]
 ...
 ['Volvo' 'Passenger' '6/25/2011' ... 17.9 25.0 71.1559776]
 ['Volvo' 'Passenger' '4/26/2011' ... 18.5 23.0 77.10568763923612]
 ['Volvo' 'Passenger' '11/14/2011' ... 21.1 24.0 85.73565451]]

In [20]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer


categorical_features = ["Manufacturer","Vehicle_type","Latest_Launch"]
one_hot = OneHotEncoder()
transformer = ColumnTransformer([("one_hot",one_hot,categorical_features)],
                               remainder = "passthrough")

transfromed_x = transformer.fit_transform(x)
transfromed_x

<157x173 sparse matrix of type '<class 'numpy.float64'>'
	with 2198 stored elements in Compressed Sparse Row format>

In [21]:
from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor()

In [25]:
from sklearn.model_selection import train_test_split
x_train,x_test, y_train,y_test = train_test_split(transfromed_x,y,test_size = 0.2)

<125x173 sparse matrix of type '<class 'numpy.float64'>'
	with 1750 stored elements in Compressed Sparse Row format>

In [27]:
# model.fit(x_train,y_train)
# model.score(x_test,y_test)